@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'ol/ol.css';

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#app, #map {
    height: 100%;
    width: 100%;
}
